@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');


* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style : none;
}

#container {
    margin : 0 auto;
    width : 1200px;
}

/* 헤더 */
header {
    width:100%;
    height:100px;
    background-color : gray;
}
/* 로고 */
#logo {
    float: left;
    width: 250px;
    height: 100px;
}
#logo h1 {
    font-family: "Jersey 15", serif;
    font-weight: 600;
    font-size : 60px;
    font-style: normal;
    
    line-height: 100px;
    padding-left: 20px;
    text-align: center;
    color: black;

}
  
/* 내비게이션 */
nav {
    float : right;
    width : 900px;
    height : 100%;
    padding-top : 40px;
}
#topMenu {
    height : 60px;
}
#topMenu > li {
    font-family: "Jersey 15", serif;
    font-weight: 200;
    font-size : 40px;
    font-style: normal;
    width : 25%; /*25퍼센트로 해야 하는데 자꾸 communication_▼ 글자가 삐져나감 */
    text-align:center;

    float : left;
    position : relative;
}
#topMenu > li > a {
    display : block;
    color : fff;
    font-weight: 600;
    text-shadow : 0 1px #07c;
}
#topMenu > li > a  > span {
    font-size : 0.5em;
}
#topMenu > li > a:hover {
    color : #000;
    text-shadow: 0 -1px #07c;
}
#topMenu > li > ul {
    display : none;
    position : absolute;
    width : 160px;
    background-color: rgba(255, 255, 255, 0.6);
    left : 0;
    margin: 0;
}
#topMenu > li > ul > li {
    padding : 10px 10px 10px 30px;
}
#topMenu > li > ul > li > a{
    font-size: 20px;
    padding:10;
    color:#000;
}
#topMenu > li:hover > ul {
    display : block;
    z-index : 10;
}
#topMenu > li > ul > li > a:hover{
    color : rgb(5, 205, 240);
}

/* 슬라이드 쇼 */
#slideShow {
    clear : both;
    width : 100%;
    height: 300px;

    overflow:hidden;
    position : relative;
}
#slides {
    position : absolute;
}
#slides > img {
    width:100%;
    float: left;
}
button {
    position:absolute;
    height : 100%;
    top:0;
    border:none;
    padding:20px;
    background-color: transparent;
    color:#000;
    font-size:24px;
    opacity:0.5;
}
#prev {
    left :0;
}
#next {
    right :0;
}
button:hover {
    background-color: #222;
    color : #fff;
    opacity:0.6;
    cursor:pointer;
}
button:focus {
    outline:0;
}

/* 콘텐츠 */
#contents {
    width: 100%;
    height:300px;
    margin-top : 20px;
}

/* 탭 메뉴 */
#tabMenu {
    float : left;
    width:600px;
    height:100%;
    margin-top : 10px;
}
#tabMenu input[type ="radio"] {
    display: none;
}
#tabMenu label {
    display : inline-block;
    margin : 0 0;
    padding : 15px 25px;
    font-weight: 600;
    text-align: center;
    color : #aaa;
    border: 1px solid transparent;
}
#tabMenu label:hover {
    color : #222;
    cursor: pointer;
}
#tabMenu input:checked + label {
    color : #b00;
    border : 1px solid #ddd;
    background-color: #eee;
}

.tabContent {
    display : none;
    padding: 20px 0 0;
    border-top : 1px solid #ddd;
}
.tabContent h2 {
    display : none;
}
#notice ul {
    list-style : disc;
    margin-left : 30px;
}
#notice ul li {
    font-size: 16px;
    line-height : 2.5;
}
#gallary ul li {
    display : inline;
}
#tab1:checked ~ #notice, 
#tab2:checked ~ #gallary {
    display: block;
}

/* 링크 */
#links {
    float: right;
    width:600px;
    height: 100%;
    margin-top :15px;
}
#links ul li{
    float : left;
    width: 33%;
    text-align: center;
    margin: 10px 0;
}
#links ul li a span {
    display: block;
    margin:0 auto;
    width:150px;
    height:150px;
    border-radius:  100%;
    border : 1px solid #ddd;
    line-height:150px;
}
#quick-icon1 {
    background-image:url('../images/icon-1.jpg');
}
#quick-icon2 {
    background-image:url('../images/icon-2.jpg');
}
#quick-icon3 {
    background-image:url('../images/icon-3.jpg');
}

#links ul li a p {
    margin-top: 15px;
    font-weight: 600;
    color:#666;
}

/* 푸터 */
footer {
    width: 100%;
    height: 100px;
    border-top: 2px solid #222;
}
#bottomMenu {
    width:100%;
    height : 20px;
    position : relative;
}
#botomMenu ul {
    margin-top: 15px;
}
#bottomMenu ul li {
    float : left;
    padding : 5px 20px;
    border-right: none;
}
#bottomMenu ul li:last-child{
    border-right : none;
}
#bottomMenu ul li a, #bottomMenu ul li a:visited {
    font-size: 15px;
    color:#666;
}
#sns {
    position: absolute;
    right : 0;
}
#sns ul li {
    border : none;
    padding:5px;
}
#company {
    clear: left;
    margin-top:25px;
    margin-left :20px;
}
p {
    font-size :14px;
    color:#aaa;
}
